.imagem2{
    background-image: url(https://github.com/maurilosantos/frontBlog/blob/main/src/assets/cadastro.png?raw=true);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}


.btnCadastrar{
    background-color:  #438960!important;
    color: white!important;
}